<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">




<!-- Sidebar -->
<div class="w3-sidebar barra w3-bar-block" style="width:15%">
  <section class="letra1">
    <img src="https://i.postimg.cc/R0qSW-vfF/01.png" width="250" height="250" class="d-inline-block align-center" alt=""
      loading="lazy" style="margin-top: 100px;">
    <br>
    <br>
    <h1 class="letra1">¡Bienvenido Usuari@!</h1>
    <a href="menu" type="button" class="btn btn-primary boton_menu btn-lg">MENÚ PRINCIPAL</a>
  </section>
</div>


<!-- Page Content -->

<div class="w3-container">

  <div style="margin-left:15%">

    <br>

    <h1 class="destacado">Ingrese el numero de ficha del animal</h1>
    <br>
    <input [(ngModel)]="buscar_input2" type="text" name="" id="">
    <button style="margin-left: 30px;" (click)="buscar()" class="btn btn-primary boton_guardar"
      type="submit">Buscar</button>


    <br>
    <br>
    <br>
    <h1 class="destacado">Información del animal</h1>
    <br>


    <div style="background-color: #c2e3db;"  class="centrodiv">
      <br>
      <br>

    <div style="margin-left: 50px;">

    <label class="destacado1">Nombre del animal: {{nombreanimal}} </label>
    <br>
    <br>
    <label class="destacado1">Numero de microchip: {{n_microchip}} </label>
    <br>
    <br>
    <label class="destacado1">Especie: {{nombre_especie}} </label>
    <br>
     <br>
    <label class="destacado1">Fecha de nacimiento: {{fechanac}} </label>
    <br>
    <br>
    <label class="destacado1">Nombre del dueño: {{nombre_dueno}}</label>
    <br>
    <br>
    <label class="destacado1">Numero de telefono dueño: {{duenotelefono}}</label>
    <br>
    <br>
    <label class="destacado1">Correo electronico dueño: {{duenocorreo}}</label>
    <br>
    <br>
    <br>
        </div>

  </div>


    


      <br>
      <br>

   
    <br>


    <h1 class="destacado">Listado con procedimientos anteriores</h1>

    <br>
    <br>


    <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger"  class="table table-light" style="width:60%">
      <thead>
          <tr>
              <th class="colornuevo">
                Segunda clave
              </th>
              <th class="colornuevo">
                Fecha de atención
              </th>
              <th class="colornuevo">
                Motivo de la consulta
              </th>
              <th class="colornuevo">
                Peso
              </th>
              <th class="colornuevo">
                Observacion
              </th>
              <th class="colornuevo">
                Eliminar
              </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let consuproce of segundalist">
              <td>
                {{consuproce.consulta_reserva_id_consulta_reserva_id}}
              </td>
              <td>
                {{consuproce.fecha_pro}}
              </td>
              <td>
                {{consuproce.motivo_consulta}}
              </td>
              <td>
                {{consuproce.peso}}
              </td>
              <td>
                {{consuproce.observaciones}}
              </td>
              <td>
                <button (click)="eliminarproce(consuproce)" class="btn boton-eliminar"
                type="button">Eliminar</button> 
              </td>
          </tr>
      </tbody>
  </table>

  <br>
  <br>


    

    </div>


 

    <section class="h-100 h-custom" >
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100" style="margin-left: 120px ">
          <div class="col-lg-8 col-xl-6">
            <div class="card rounded-3" style="border-color: #023300;">
              <div class="card-body p-4 p-md-5" style="border-color: #a4eba1;">
    
                <form class="px-md-2">
    
                  <div class="form-outline mb-4">
                   
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 destacado"> Añadir consulta y procedimiento</h3>

                    <form (ngSubmit)="onSubmit4()">

                      <label for="fecha_pro" class="labelsdesta">Seleccione la fecha de atención </label>
                      <br>
                      <br>
                      <input placeholder="Ingrese la fecha de atención" class="form-control" class="col-5" type="date"
                        id="fecha_pro" required [(ngModel)]="model3.fecha_pro" name="fecha_pro" #fecha_pro="ngModel"
                        style="margin-right: 30px;" />
                      
                        <br>
                        <br>
                
                      <label for="motivo_consulta" class="labelsdesta"> Ingrese el motivo de la consulta </label>
                      <br>
                      <br>
                      <input placeholder="Ingrese el motivo de la consulta" class="form-control" class="col-8" type="text"
                        id="motivo_consulta" required [(ngModel)]="model3.motivo_consulta" name="motivo_consulta" #motivo_consulta="ngModel"
                        style="margin-right: 30px;" />
                
                        <br>
                        <br>

                
                      <label for="peso" class="labelsdesta">Ingrese el peso del animal </label>
                      <br>
                      <br>
                      <input placeholder="Ingrese el peso del animal" class="form-control" class="col-1" type="text" id="peso"
                        required [(ngModel)]="model3.peso" name="peso" #name="ngModel" #peso="ngModel" /> KG
              
                        <br>
                        <br>
                        <br>
                      
                      <label for="observaciones" class="labelsdesta">Ingrese las observaciones y diagnostico </label>
                      <br>
                      <br>
                      <input placeholder="Ingrese las observaciones" class="form-control" class="col-3" type="text"
                        id="observaciones" required [(ngModel)]="model3.observaciones" name="observaciones" #observaciones="ngModel" class="grande"
                         style="margin-right: 50px;" class="inputgrande"/>
                

                      <br>
                      <br>
                      <label  class="labelsdesta">Despliegue  y seleccione quien atendio al animal</label>
                      <br>
                      <br>
                      <select style="margin-right: 30px;"  class="options" name="emp_id_emp_id" [(ngModel)]="model3.emp_id_emp_id" (change)="cambiaremp($event)">
                        <option value="0">Seleccione el trabajador</option>
                        <option value={{emps.id_emp}} *ngFor="let emps of emplist">
                
                          {{emps.nombre_empleado}}
                        </option>
                      </select>

                      <br>
                      <br>
                      <label class="labelsdesta">Despliegue  y seleccione el procedimiento</label>
                      <br>
                      <br>
                      <select style="margin-right: 30px;" class="options" name="procedimiento_id_procedimiento_id" [(ngModel)]="model3.procedimiento_id_procedimiento_id"
                        (change)="cambiarproce($event)">
                        <option value="0">Seleccione un procedimiento</option>
                        <option value={{proces.id_procedimiento}} *ngFor="let proces of procelist">
                
                          {{proces.nombre_procedimiento}}
                        </option>
                      </select>
                      

                      <br>
                      <br>
                      <label class="labelsdesta">Despliegue  y seleccione la ficha del animal atendido</label>
                      <br>
                      <br>
                      <select style="margin-right: 30px;" class="options" name="consulta_reserva_id_consulta_reserva_id"
                        [(ngModel)]="model3.consulta_reserva_id_consulta_reserva_id" (change)="cambiarconsulta($event)">
                        <option value="0">Seleccione su ficha</option>
                        <option value={{consu.id_consulta_reserva}} *ngFor="let consu of consullist">
                
                          {{consu.animal_id_animal_id}}
                        </option>
                      </select>
                
                
                      <br>
                      <br>
                
                     
                    
                
                      <div *ngIf="fecha_pro.valid && motivo_consulta.valid && peso.valid && observaciones.valid ">
                        <br>
                        <button class="btn btn-primary boton_guardar" type="submit">Guardar</button>
                      </div>
                      <br>
                      <br>
              
                      <div *ngIf="!fecha_pro.valid && !motivo_consulta.valid   && !observaciones.valid ">
                        <button disabled class="btn btn-primary boton_guardar"> Guardar </button>
                      </div>
              
                      <br>
                     
                    </form>



                  </div>
                
                  <h1>--------------------------------</h1>

                  <div class="row">
                    <div class="col-md-11 mb-4"> 

                      <h3 class="mb-3 pb-2 pb-md-0 mb-md-5 px-md-2 destacado">Segunda clave (¡La segunda clave generada siempre sera la ultima!)</h3>



    
                      <select style="margin-right: 30px;" class="options" name="consulta_reserva_id_consulta_reserva_id"
                      [(ngModel)]="model3.consulta_reserva_id_consulta_reserva_id" (change)="cambiarconsulta($event)">
                      <option>Seleccione su ficha</option>
                      <option value={{consu.id_consulta_procedimiento}} *ngFor="let consu of segundalist">
              
                        {{consu.consulta_reserva_id_consulta_reserva_id}}
                      </option>
                    </select>
            
                    </div>
              
                  </div>
    
    
        
    
    
                </form>
    
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  </div>